@import "tailwindcss";

@theme inline {
  --color-background: #e1e7ff;
  --color-foreground: #171717;

  --color-note-c-low: #ff687e;
  --color-note-d: #fab148;
  --color-note-e: #fffb6a;
  --color-note-f: #dbfc5e;
  --color-note-g: #a0ffd4;
  --color-note-a: #64daf8;
  --color-note-b: #1d86fb;
  --color-note-c-high: #e54cd8;
  --color-timeline-selected: var(--color-purple-200);

  --color-bottom-bar-border: #dddddd;
  --color-bottom-bar-gradient-top: #f6f6f6;
  --color-bottom-bar-gradient-bottom: #f0f0f0;
  --color-bottom-bar-button-background: #eeedf1;
  --color-bottom-bar-button-icon: var(--color-gray-800);

  --size-bottom-bar-button: calc(var(--spacing) * 12);

  --height-piano: calc(var(--spacing) * 32);
  --padding-bottom-composer: calc(
    var(--height-piano) + var(--size-bottom-bar-button) + var(--spacing) * 2
  );
}

.bottom-safe-area {
  inset-block-end: env(safe-area-inset-bottom);
}

.ltr {
  direction: ltr;
  unicode-bidi: plaintext;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Parkinsans, Arial, Helvetica, sans-serif;
}
