@import "tailwindcss";

@theme inline {
  --color-background: #e1e7ff;
  --color-foreground: #171717;
  --color-button-background: #eac7fd;

  --color-note-c-low: #ff687e;
  --color-note-d: #fab148;
  --color-note-e: #fffb6a;
  --color-note-f: #dbfc5e;
  --color-note-g: #a0ffd4;
  --color-note-a: #64daf8;
  --color-note-b: #1d86fb;
  --color-note-c-high: #e54cd8;
  --color-timeline-selected: var(--color-purple-200);

  --height-piano: calc(var(--spacing) * 32);
  --size-bottom-bar-button: calc(var(--spacing) * 12);
  --padding-bottom-composer: calc(
    var(--height-piano) +
    var(--size-bottom-bar-button) +
    var(--spacing) *
    2
  );
}

.bottom-safe-area {
  inset-block-end: env(safe-area-inset-bottom);
}

.ltr {
  direction: ltr;
  unicode-bidi: plaintext;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
